<style>
    /* Center the heading */
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 5vh;
        margin: 0;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    a {

        margin: 50px;
    }
</style>

<body>
    <h1>Hello to this app btw, its so bad that it became good</h1>
    <h2>

    </h2>
    <nav>
        <a href="">Home</a>
        <a href="">Contact</a>
        <a href="">About</a>
        <a href="">IDK</a>
    </nav>

</body>