<h1 id="body2"> We are the team in jeddah!</h1>
<div id="body2">

    <div class="card">
        <img src="./assets/dawi.jpg" alt="dawi" style="max-width: 100px; max-height: 100px;">
        <h2>Dawi</h2>
        <div class="text">write intro here dawi</div>
    </div>

    <div class="card">
        <img src="./assets/abdulrahman.png" alt="abdulrahman" style="max-width: 100px; max-height: 100px;">
        <h2>abdulrahman</h2>
        <div class="text">write something here Abdulrahman</div>
    </div>

    <div class="card">
        <img src="./assets/ali.png" alt="ali" style="max-width: 100px; max-height: 100px;">
        <h2>Ali</h2>
        <div class="text">write something here Ali</div>
    </div>

    <div class="card">
        <img src="./assets/abdulkader.png" alt="abdulkader" style="max-width: 100px; max-height: 100px;">
        <h2>abdulkader</h2>
        <div class="text">Write something here Abdulkader</div>
    </div>

</div>