/* Apply basic styling to the form container */
.contact-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.form-group{
  margin-bottom:10px ;
}

div {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

/* Style headings */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style form labels */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Style form inputs */
input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style form button */
button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Change button color on hover */
button[type="submit"]:hover {
  background-color: #0056b3;
}